html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
}

.container {
    display: flex;
}

.vertical {
    flex-direction: column;
}

.centered {
    align-items: center;
    justify-content: center;
}